<div>
	<!--data-->
	<div>
		<p class="pull-right bian">2015年3月31号发布</p>
              		<p class="pull-left bian">上海&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-search"> </span></p>
              		<br />
              		<br />
	</div>
	

	<!--disease risk-->
	<div class="container">
	      		<% (1..2) .each do |ind|%>
	      			<div class="row">
	      				<% (3..4).each do |int| %>
	        				 	<div class="col-xs-6">
	        				 		<div class="tr">
		            						<%= image_tag @zhu["#{ind * int}"], class:"suo" %>
	            							<div class="ding"><%= @zi["#{ind * int}"] %><br /><%= @zi["#{ind * int+10}"] %></div>
	            							<% (5..6).each do |yc| %>
		            						<table class="zhibiao">
									<tr>
										<td><%= @tian["#{yc}"] %></td>
										<% (0..400).step(100) do |cy| %>
					                                                                                <td style="padding:1px"><button type="button" class='btn <%= @se["#{ind*int*yc+cy}"]%> btn-xs suoe'></button></td>
										<% end %>
									</tr>
								</table>
								<% end %>
							</div>
						</div>
		  			<% end %>
				</div>
	            		<% end %>
	</div>


	<!--air quality-->
	<table class="pads">
		<tr>
			<% (1..5).each do |cy| %>
			<td class="zhibiao"><button type="button" style="width:35px"  class="btn <%= @se["#{cy}"]%> btn-xs"><%= @bn["#{cy}"] %></button></td>
			<% end %>
		</tr>
	</table>


	<!--state-->
	<div class="lin">
		<h4 style=" text-align: center">疾病气象风险预报说明文字</h4>
		<p style="padding:5px; text-indent: 2em;">
		疾病风险预报产品主要有分人群感冒、儿童哮喘、慢性阻塞性肺病（COPD）以及中暑四个产品。通过流行病学研究，确定影响疾病的气象环境因素，建立预测预报模型，根据天气预报和空气质量预报结果，确定疾病的风险等级，针对易感人群和不利天气，给出预防建议。
		</p>
 	</div>
</div>