<%= link_to "index" do |i| %>
	<div class="container top_padding">
		<div class="row">
			<div class="col-xs-2">
				<%= image_tag   @imgs["#{3}"] , class:"img_size_son" %>
			</div>
			<div class="col-xs-8 text_padding">
				<div class="col-xs-12 font_son_size_big">成人感冒气象风险</div>
				<div class="col-xs-12 clean_margin">
					<% (1..5).each do |int| %>
						<div class="col-xs-15 align lump font_son_size_small <%= @lump["#{int}"] %>"><%= @lump["#{int+6}"] %></div>
					<% end %>
				</div>
			</div>
			<div class="col-xs-2"></div>
		</div>
		<hr class="border_color" />
		<div class="container divide">
			<div class="row">
				<div class="col-xs-12 transparent">
					<div class="col-xs-12 make_it_closer">
						<div class="col-xs-2 font_son_size_big">今天</div>
						<div class="col-xs-6">
							<div class="row">
								<% (1..5).each do |int| %>
									<div class="col-xs-15 lump 
									<%= 
									int==3 ? @lump["#{3}"] : @lump["#{6}"]
									%> 
									lump_air_size">
									</div>
								<% end %>
							</div>
						</div>
						<div class="col-xs-6"></div>
					</div>
					<div class="col-xs-12  hr_inside">
						<hr class="border_color" />
					</div>
					<div class="make_it_far bottom_big">
						<p class="font_son_size_big">防范人群：体质差的青少年和成年人</p>
						<p>防护建议：气温7-10度，天气较冷，风力略大，建议穿着棉衣等保暖衣服，外出应戴上帽子和围巾等挡风。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 transparent">
					<div class="col-xs-12 make_it_closer">
						<div class="col-xs-2 font_son_size_big">明天</div>
						<div class="col-xs-6">
							<div class="row">
								<% (1..5).each do |int| %>
									<div class="col-xs-15 lump 
									<%= 
									int==3 ? @lump["#{3}"] : @lump["#{6}"]
									%> 
									lump_air_size">
									</div>
								<% end %>
							</div>
						</div>
						<div class="col-xs-6"></div>
					</div>
					<div class="col-xs-12  hr_inside">
						<hr class="border_color" />
					</div>
					<div class="make_it_far bottom_big">
						<p class="font_son_size_big">防范人群：体质差的青少年和成年人</p>
						<p>防护建议：气温6-13度，天气较冷，风力略大，建议穿着棉衣等保暖衣服，外出应戴上帽子和围巾等挡风。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>